@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60vw;
  height: 100vh;
  background: rgb(255, 194, 194);
}

.settings-container--option {
  text-align: center;
  width: 95%;
  margin-top: 1.5rem;
}

.settings-container__elements {
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.settings-container--option:nth-of-type(1) {
  margin-top: 5vh;
}

.settings-container--option:nth-of-type(3) {
  margin-bottom: 1rem;
}

.settings-container--option__header {
  background: #ff682f;
  padding: 0.7rem;
  color: white;
  font-size: 1.3rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  border-radius: 0.5rem 0.5rem 0 0;
}

.settings-container--option__footer {
  background: white;
  border-radius: 0 0 0.5rem 0.5rem;
  color: #757575;
  font-weight: bold;
  font-size: 1.3rem;
  -webkit-box-shadow: 0px 5.5px 4px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 5.5px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5.5px 4px 0px rgba(0, 0, 0, 0.3);
}

.settings-container--option__footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 1rem;
}

.settings-container--option__footer footer {
  height: 3rem;
}

a:has(.settings-container__button) {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

.settings-container__button {
  padding: 1rem;
  width: 95%;
  border-radius: 1rem;
  background: #ff682f;
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
}

.settings-container__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 0.9rem;
  top: 0;
  background: #ff682f;
}

.settings-container__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.3rem 0;
  padding: 0.4rem 0.4rem;
  border-radius: 8px;
  width: 37%;
  background: #99411e52;
}

.settings-container__wrapper svg {
  font-size: 2rem;
  color: white;
}

.settings-container_h3 {
  margin: 0;
  font-size: 1.2rem;
  color: white;
}

a:has(.settings-container__button--back) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
}

.settings-container__button--back {
  position: absolute;
  left: 0;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0.4rem 1rem;
  margin: 0.3rem 0;
  cursor: pointer;
}

.spinner {
  width: 20%;
}

ul {
  margin: 0;
  display: flex;
}

li {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
}

li.active {
  color: #ff682f;
}

.hidden {
  display: none;
}

.limit-values {
  font-family: "Noto Sans", sans-serif;

}

.limit-values li {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .settings-container {
    width: 100vw;
    height: 100vh;
  }

  .settings-container--option:nth-of-type(1) {
    margin-top: 2vh;
  }

  .settings-container--option:nth-of-type(3) {
    margin-bottom: 1.5rem;
  }

  .settings-container--option__footer {
    padding: 0.5rem 0rem;
    font-size: 1.4rem;
  }

  .settings-container__button {
    margin-bottom: 1rem;
  }
}
